<ion-header>
  <ion-toolbar>
    <ion-title class="titulo"> Doar </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="conteudo animate__animated animate__fadeInLeft">
    <ion-card (click)="doarAlimentos()">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbK_REBDh8sKXPmIRUoZmZ0_MmN2tGzAvDqw&usqp=CAU"
          />
        </ion-thumbnail>
        <ion-label>Alimentos</ion-label>
      </ion-item>
    </ion-card>

    <ion-card (click)="doarRoupas()">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTADsFjZomIk3Q4Dsfud48Q4HuhMEuI3zEnwQ&usqp=CAU"
          />
        </ion-thumbnail>
        <ion-label>Roupas</ion-label>
      </ion-item>
    </ion-card>

    <ion-card (click)="doarSangue()">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRv4ozflVoxY2wJ4M9JAbmZy31w_GWhRaU03w&usqp=CAU"
          />
        </ion-thumbnail>
        <ion-label>Sangue</ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
